<main class="main">
  <div id="header">
    <h1 class="test">Low-Poly World Generator</h1>
  </div>


  <div id="main_container">
    <div class="sidebar">
      <h1 class>Settings</h1>

      <div class = "container_center">
        <p>Width:</p>
        <input type="number" [(ngModel)]="mapRows" min="5" max="20" step="1" (ngModelChange)="updateMapRows()">
      </div>

      <div class = "container_center">
        <p>Height:</p>
        <input type="number" [(ngModel)]="mapCols" min="5" max="20" step="1" (ngModelChange)="updateMapCols()">
      </div>

      <div class="container_center">
        <button class="general_button" (click)="regenerateMap()">Generate</button>
      </div>
      
    </div>

    

    <div id="threejs-container"></div>
  </div>

  <p>footer</p>
</main>


